<!DOCTYPE html>
<html>
<head>
	<title>Teste</title>
</head>
<style type="text/css">
		header {
			background-color: red;
			border: 0.3px solid #FFF;
		}

		.cabeca img {
			background-image: red;
		}

		.cabeca h3 {
			background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvCA7QhdJHlcFiQGtpG2b_aO4yws5gR2OWoB5fpR9A1ZoNQnfp');
			width: 16.8%;
			height: 118px;
			text-align: center;
			padding-top: 8%;
			float: right;
		}

</style>
<body>
	<h2>asçldksald</h2>
	{% block content %}
	{% endblock %}
	</header>
</body>
</html>