{% extends '../inicial.html' %}

{% block content %}
<div class="formularios box " >
	<h2 style="text-align: center;" >CADASTRO</h2>
<form method="post" action="{% url 'app:login' %}">
	{% csrf_token %}
		<div class="input-group" style="width: 90%; margin: 30px 25%;">
            <span class="input-group-addon" >@</span>
			<input type="text" class="form-control controle" name="username" placeholder="Username" style="width: 50%;">
		</div>
    <div class="input-group" style="width: 90%; margin: 10px 25%;">
                <span class="input-group-addon"><i class="fa fa-key" ></i></span>
				<input type="password" name="password" class="form-control controle"  placeholder="Password" style="width: 50%;">
    </div>
	
	<button type="submit" class="btn btn-success btn-sm" style="float: right;" >Entrar</button>
	
</form>

<a href="{% url 'app:login' %}"><button class="btn btn-sm btn-danger" style="float: left;">Cancelar</button></a>
</div>

{% endblock %}